.details-container {
  display: flex;
  height: calc(100vh - 60px); /* ocupa todo menos el header */
  background: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  margin: 1rem;
}

/* Main Content */
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

/* Encabezado */
.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 12px;
}

.header-actions h2 {
  font-size: 1.2rem;
  font-weight: 600;
}

.actions {
  display: flex;
  gap: 10px;
  align-items: center;
}


.actions input,
.actions select {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 6px;
  background-color: #fafafa;
  color: #16325c;
  font-size: 1rem;
}

.actions select:focus {
  outline: 2px solid #b3c6ff;
}

.filter-btn {
  padding: 8px 12px;
  border: 1px solid #ddd;
  background: #f9f9f9;
  border-radius: 6px;
  cursor: pointer;
  color: #16325c;
}

.icon-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}

/* Tabla */
.table-wrapper {
  flex: 1;
  overflow-y: auto;
}

/* Scrollbar personalizado para la tabla */
.table-wrapper::-webkit-scrollbar {
  width: 8px;
  background: #f1f3f4;
  border-radius: 8px;
}
.table-wrapper::-webkit-scrollbar-thumb {
  background: #dbeafe;
  border-radius: 8px;
  border: 2px solid #fafafa;
}
.table-wrapper::-webkit-scrollbar-thumb:hover {
  background: #b3c6ff;
}

/* Firefox */
.table-wrapper {
  scrollbar-width: thin;
  scrollbar-color: #dbeafe #f1f3f4;
}

.details-table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
}

.details-table th,
.details-table td {
  padding: 12px 16px;
  border-bottom: 1px solid #f0f0f0;
  text-align: left;
  font-size: 0.9rem;
}

.details-table th {
  background: #fafafa;
  font-weight: 600;
  color: #444;
}

.details-table{
  color: #444;
}


/* Tags */
.tag {
  display: inline-block;
  padding: 4px 8px;
  background: #f1f3f4;
  border-radius: 12px;
  font-size: 0.8rem;
  color: #555;
}

/* Prioridades */
.priority {
  padding: 4px 10px;
  border-radius: 12px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.priority.alta {
  background: #d32f2f;
}

.priority.media {
  background: #f9a825;
}

.priority.baja {
  background: #388e3c;
}
